# Byte-compiled
__pycache__/
*.py[cod]
*$py.class

# Virtual env
venv/
env/
ENV/

# Data & Models
data/raw/
*.pkl
*.h5
*.joblib

# Logs
*.log
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
